<div class="col-md-8 order-md-1">
    <form method="POST" action="/setup/freshConfig">
        <div class="mb-3">
            <label for="name">Nombre de la Empresa</label>
            <input type="text" class="form-control" id="name" placeholder="Google inc" name="organization" required>
            <div class="invalid-feedback">
                Please enter a name
            </div>
        </div>

        <div class="mb-3">
            <label for="email">Correo del encargado general</label>
            <input type="email" class="form-control" id="email" placeholder="name@organizations.com" name="email"
                required>
            <div class="invalid-feedback">
                Please enter a valid email
            </div>
        </div>

        <div class="mb-3">
            <div>
                <div class="alert alert-dismissible alert-light">
                    <strong>
                        <span id='message'>{{ signUpMessage }}</span>
                    </strong>
                </div>
            </div>
        </div>
        <hr class="mb-4">
        <button id="register-button" class="btn btn-secondary btn-lg btn-info" type="submit">Registrar
        </button>
    </form>
</div>