<div class="col-md-8 order-md-1">
  <form method="POST" action="/register-guest">

    <h4 class="mb-3">Registro de Invitados</h4>


    <div class="mb-3">
      <label for="name">Nombre completo</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Alfredo Pérez">
      <div class="invalid-feedback">
        Please enter a name
      </div>
    </div>

    <div class="mb-3">
      <label for="phone">Teléfono </label>
      <input type="text" class="form-control" id="phone" name="phone" placeholder="+52 1 5575858523">
      <div class="invalid-feedback">
        Please enter a valid phone number
      </div>
    </div>

    <div class="mb-3">
      <label for="email">Correo Electrónico </label>
      <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com">
      <div class="invalid-feedback">
        Please enter a valid email address for shipping updates.
      </div>
    </div>

    <div class="mb-3">
      <label for="organization">Organization </label>
      <input type="text" class="form-control" id="organization" name="organization" placeholder="Google Inc.">
      <div class="invalid-feedback">
        Please enter a valid email address for shipping updates.
      </div>
    </div>


    <div class="mb-3">
      <label for="host">Anfitrión</label>
      {{> dropdown}}
      <div class="invalid-feedback">
        Please select a valid host.
      </div>
    </div>

    <div class="mb-3">
      <div>
        <div class="alert alert-dismissible alert-light">
          <strong>
            <span id='message'>{{ guestRegisterMessage }}</span>
          </strong>
        </div>
      </div>
    </div>




    <hr class="mb-4">

    <button class="btn btn-outline-primary btn-lg btn-block" type="submit">Completar Registro</button>
  </form>

</div>