<h1 class="display-3">Meetings</h1>
<hr class="mb-4">
<div class="col-md-8 order-md-1">

    <div class="flex mb-3">
        <div class="card bg-secondary mb-3 onboardingCard">
            <div class="card-body">
                <h4 class="card-title">Info card title</h4>


                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>

        <img src="/img/meeting.png" alt="Meetings" />
    </div>
    <div class="flex mb-3">

        <img src="/img/calendar.png" alt="Meetings" />


        <div class="card bg-secondary mb-3 onboardingCard">
            <div class="card-body">
                <h4 class="card-title">Schedule Meeting &#128512;</h4>


                <p class="card-text">You can set the time and date of your meeting.</p>
            </div>
        </div>


    </div>
    <div class="flex mb-3">
        <div class="card bg-secondary mb-3 onboardingCard">
            <div class="card-body">
                <h4 class="card-title">Info card title</h4>


                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>

        <img src="/img/gmail.png" alt="Meetings" />
    </div>

    <hr class="mb-4">

    <div style="display: flex; justify-content:flex-end;">
        <a href="/setup/introduction-to-reservations"><button id="register-button" class="btn btn-secondary btn-lg "
                type="submit">Continue</button></a>
    </div>

</div>