<h1 class="display-3">Reuniones</h1>
<hr class="mb-4">
<div class="col-md-8 order-md-1">

    <div class="flex mb-3">
        <div class="card bg-secondary mb-3 onboardingCard">
            <div class="card-body">
                <h4 class="card-title">Invita personas &#128512;</h4>


                <p class="card-text">Con esta aplicación podras invitar a personas externas a la empresa</p>
            </div>
        </div>

        <img src="/img/meeting.png" alt="Meetings" />
    </div>
    <div class="flex mb-3">

        <img src="/img/calendar.png" alt="Meetings" />


        <div class="card bg-secondary mb-3 onboardingCard">
            <div class="card-body">
                <h4 class="card-title">Agenda una cita &#128516;</h4>


                <p class="card-text">Cuando programes una reunión, esta se agendará en tu calendario</p>
            </div>
        </div>


    </div>
    <div class="flex mb-3">
        <div class="card bg-secondary mb-3 onboardingCard">
            <div class="card-body">
                <h4 class="card-title">Recibe notificaciones &#128527;</h4>


                <p class="card-text">Una notificación será enviada a tu correo y tambien al de las personas invitadas
                </p>
            </div>
        </div>

        <img src="/img/gmail.png" alt="Meetings" />
    </div>

    <hr class="mb-4">

    <div style="display: flex; justify-content:flex-end;">
        <a href="/setup/introduction-to-reservations"><button id="register-button" class="btn btn-secondary btn-lg "
                type="submit">Continue</button></a>
    </div>

</div>