<h1 class="display-3">Reservations</h1>
<hr class="mb-4">
<div class="col-md-8 order-md-1">

    <div class="flex mb-3">
        <img src="/img/reservation.png" alt="Meetings" />
        <div class="card bg-secondary mb-3 onboardingCard">
            <div class="card-body">
                <h4 class="card-title">Info card title</h4>


                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>

    </div>
    <div class="flex mb-3">



        <div class="card bg-secondary mb-3 onboardingCard">
            <div class="card-body">
                <h4 class="card-title">Info card title</h4>


                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>

        <img src="/img/invitation.png" alt="Meetings" />

    </div>
    <div class="flex mb-3">
        <img src="/img/presentation.png" alt="Meetings" />
        <div class="card bg-secondary mb-3 onboardingCard">
            <div class="card-body">
                <h4 class="card-title">Info card title</h4>


                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>

    </div>

    <hr class="mb-4">

    <div style="display: flex; justify-content:space-between;">
        <a href="/setup/introduction-to-meetings"><button id="register-button"
                class="btn btn-lg btn-primary">Return</button></a>
        <a href="/setup/firstConfiguration"><button id="register-button"
                class="btn btn-secondary btn-lg ">Finish</button></a>
    </div>

</div>