<h1 class="display-3">Reservaciones</h1>
<hr class="mb-4">
<div class="col-md-8 order-md-1">

    <div class="flex mb-3">
        <img src="/img/reservation.png" alt="Meetings" />
        <div class="card bg-secondary mb-3 onboardingCard">
            <div class="card-body">
                <h4 class="card-title">Reserva una sala &#128516;</h4>


                <p class="card-text">Podrás reservar una sala para ocuparla en el horario que desees.</p>
            </div>
        </div>

    </div>
    <div class="flex mb-3">



        <div class="card bg-secondary mb-3 onboardingCard">
            <div class="card-body">
                <h4 class="card-title">Envía invitaciones &#128515;</h4>


                <p class="card-text">Invita a las personas con las que quieras ocupar la sala.</p>
            </div>
        </div>

        <img src="/img/invitation.png" alt="Meetings" />

    </div>
    <div class="flex mb-3">
        <img src="/img/presentation.png" alt="Meetings" />
        <div class="card bg-secondary mb-3 onboardingCard">
            <div class="card-body">
                <h4 class="card-title">Realiza juntas profesionales &#128527;</h4>


                <p class="card-text">Crea una junta con personas de la empresa así como personas externas</p>
            </div>
        </div>

    </div>

    <hr class="mb-4">

    <div style="display: flex; justify-content:space-between;">
        <a href="/setup/introduction-to-meetings"><button id="register-button"
                class="btn btn-lg btn-primary">Return</button></a>
        <a href="/setup/firstConfiguration"><button id="register-button"
                class="btn btn-secondary btn-lg ">Finish</button></a>
    </div>

</div>