<div style="height: 40vh" class="container">
  <div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">¡Gracias por registrarse! &#128517
    </h4>
    <p class="mb-0">Se revisara la solicitud por un administrador del sistema. La respuesta a la solicitud se enviara al
      correo que se registró</p>
    <p class="mb-0">En el caso de que no sea respondida, contactar al administrador para solicitar la aprobación.</p>
  </div>
</div>