<div class="col-md-8 order-md-1">
  <form action="/newuser" method="POST">



    <div class="mb-3">
      <label for="name">Nombre </label>
      <input type="text" class="form-control" id="name" placeholder="Alfredo Pérez" required>
      <div class="invalid-feedback">
        Please enter a name
      </div>
    </div>

    <hr class="mb-4">

    <button class="btn btn-secondary btn-lg btn-block" type="submit">Registrar Usuario</button>


  </form>




</div>