<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Posición</th>
            <th scope="col">Correo</th>
            <th scope="col">Oficina</th>
        </tr>
        {{#each users }}
        {{> user-row }}
        {{/each}}
    </thead>
</table>