<div class="row">

    <div class="col">
        {{#each users_1}}
        {{> user-card }}
        {{/each}}
    </div>

    <div class="col">

        {{#each users_2}}
        {{> user-card }}
        {{/each}}

    </div>

</div>