<div class=" mdl-card mdl-shadow--2dp material_posts">
    <div class="mdl-card__title mdl-card--expand"
        style="background-image: url({{urlToImage}}); background-size: cover; background-color: #3f51b5;">
        <h6 class="mdl-card__title-text material_card_title">{{title}}</h6>
    </div>
    <div class="mdl-card__supporting-text ">

        <div class="mdl-card__actions mdl-card--border material_extend material_input">
            <button class="mdl-button mdl-js-button mdl-button--raised" type="submit">
                Leer más
            </button>
        </div>
    </div>
</div>