<select class="material_dropdown" title="Choose one of the following..." id="host" name="host"
    data-placeholder="Pick your choice" required>
    {{#each users}}
    <option class="material_option" data-icon="fa fa-heart" value={{ id }}><span
            class='badge badge-info'>{{ name }}</span>
    </option>
    {{/each}}
</select>