<!-- Always shows a header, even in smaller screens. -->

<header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">Sistema de Apartado e Invitados</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
    </div>
</header>
<div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Navegación</span>
    <nav class="mdl-navigation">


        <a class="mdl-navigation__link" id="material_links" href="">
            Invitados <div id="tt1" class="icon material-icons">recent_actors</div>
        </a>
        <a class="mdl-navigation__link" id="material_links" href="">
            Mis Invitados <div id="tt1" class="icon material-icons">portrait</div>
        </a>
        <a class="mdl-navigation__link" id="material_links" href="">
            Salas <div id="tt1" class="icon material-icons">free_breakfast</div>
        </a>
        <a class="mdl-navigation__link" id="material_links" href="">
            Reservar Sala <div id="tt1" class="icon material-icons">meeting_room</div>
        </a>
        <a class="mdl-navigation__link" id="material_links" href="">
            Mis Reservaciones <div id="tt1" class="icon material-icons">list_alt</div>
        </a>
        <a class="mdl-navigation__link" id="material_links" href="">
            Crear Sala <div id="tt1" class="icon material-icons">plus_one</div>
        </a>

        <a class="mdl-navigation__link" id="material_links" href="">
            Usuarios <div id="tt1" class="icon material-icons">people</div>
        </a>
        <a class="mdl-navigation__link" id="material_links" href="">
            Solicitudes <div id="tt1" class="icon material-icons">person_add</div>
        </a>
    </nav>


</div>