<nav class="sidebar open">
    <div class="sidebar-content">
        <ul class="sidebar-nav">
            <li class="top no-sub-list space-down">
                <a href="/home" class="logo" aria-label="Thing App Home">
                    <a href="/home" class="logo" aria-label="Thing App Home">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            style="isolation:isolate" viewBox="56.975 59.75 143.551 180.5" width="24" height="24"
                            fill="currentColor">
                            <g>
                                <rect x="98.975" y="59.75" width="84" height="131"
                                    transform="matrix(1,0,-0.268,1,33.561,0)" opacity="0.65" />
                                <rect x="74.525" y="109.25" width="84" height="131"
                                    transform="matrix(1,0,-0.268,1,46.824,0)" />
                            </g>
                        </svg>
                        <span aria-hidden="true">Meetingflow</span></a>
                    <a href="javascript:toggleSidebar()" class="sidebar-toggle icon-only"
                        aria-label="Collapse navigation"><i data-feather="chevrons-left"></i></a>
            </li>

            {{#if access }}
            <li class="active">
                <a href="/users" aria-label="users"><i data-feather="users"></i><span aria-hidden="true">Usuarios</span>
                </a>
                <ul>
                    <li><a href="/notifications">Solicitudes</a></li>
                    <li><a href="#">Permisos</a></li>
                </ul>
            </li>
            {{/if}}

            <li class="active">
                <a href="#" aria-label="rooms"><i data-feather="coffee"></i><span aria-hidden="true">Salas</span></a>
                <ul>
                    <li><a href="#">Reservar</a></li>
                    <li><a href="#">Historial</a></li>
                    {{#if access }}
                    <li><a href="#">Crear</a></li>
                    {{/if}}
                </ul>
            </li>
            <li class="active">
                <a href="#" aria-label="Analytics"><i data-feather="bar-chart-2"></i><span
                        aria-hidden="true">Invitados</span></a>
            </li>
            <li class="active">
                <a href="#" aria-label="Appearence"><i data-feather="layout"></i><span
                        aria-hidden="true">Appearence</span></a>
            </li>
            <li class="active">
                <a href="#" aria-label="Administration"><i data-feather="sliders"></i><span
                        aria-hidden="true">Administration</span></a>
            </li>
        </ul>
        <ul class="sidebar-nav bottom">
            <li>
                <a href="#" aria-label="Help & Updates"><i data-feather="help-circle"></i><span
                        aria-hidden="true">Centro de Ayuda</span>
                    <div></div>
                </a>
            </li>

            <li>
                <a href="#" aria-label="Locness (current user)"><i data-feather="user"></i><span
                        aria-hidden="true">Perfil Personal<i class="hint" data-feather="chevron-right"></i></span></a>
            </li>
        </ul>
    </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace();
</script>